body{
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden; 
}

#imputdiv{
  margin: 0;
  position: absolute;
  top: 50%;
  margin-left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.canvas-container{
  position: relative;
}
#canvas {
  position: absolute;
  background-color:lightgrey
}

#rightmenu{
    float: right;
}

#mynetwork{
    border: none;
}

#connectype{
    float: right;
}
#connectypelabel{
    margin-right: 3px;
}
#connectypebutt{
    width: 120;
    margin-right: 5px;
}

#legend{
    position: absolute;
}
#logo{
    margin-left: 47%;
}
#profsum{
    padding: 10 10 52 10px;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}
/* Each of the items in the list */
.custom-menu .menuButtons {
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
    background-color: #95e1e5;
    margin-bottom: 5px;

}


.custom-menu .menuButtons:hover {
    background-color: #DEF;

}

/* Dropdown Button */
.dropbtn {
  background-color: #00adb5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #009dA5;}